
    <section class="mb-4 gig bil">
        

    <div class="ctn-ctn">
        <div class="ctn3">
    <h2 class="h1-responsive font-weight-bold text-center my-4 name-box">Contact Us:</h2>
    <p class="text-center w-responsive mx-auto mb-5 name-box">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        
        <div class="col-md-9 mb-md-0 mb-5 biggy">
            <form id="contact-form" name="contact-form">

                
                <div class="row">

                    
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control bx-shad">
                            <label for="name" class="name-box">Your name</label>
                        </div>
                    </div>
                    

                    
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control bx-shad">
                            <label for="email" class="name-box">Your email</label>
                        </div>
                    </div>
                    

                </div>
                

                
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control bx-shad">
                            <label for="subject" class="name-box">Subject</label>
                        </div>
                    </div>
                </div>
                

                
                <div class="row">

                    
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea bx-shad"></textarea>
                            <label for="message" class="name-box">Your message</label>
                        </div>

                    </div>
                </div>
                

            </form>

            <div class="text-center text-md-left">
                <button class= "btn  butBut">Send</button>
            </div>
           
            <div class="status"></div>
        </div>
        
    </div>
</div>
</div>
</section>






