<div class="centered h-100 cont">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex 2ustify-content-center">
      </div>
      <h1 class="header">Enter your Login </h1>
      <div class="d-flex justify-content-center form_container">
        <form>
          <div class="input-group mb-3">

            <input [(ngModel)]="userName" type="text" name="userName" class="form-control input_user booger"  placeholder="username">
          </div>
          <div class="input-group mb-2">

            <input [(ngModel)]="password" type="password" name="password" class="form-control input_pass booger"  placeholder="password">
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-3 login_container">
            <button (click)="login()"   class="btn btn-info">Login</button>
          </div>
          <div *ngIf="loginError" class="alert alert-danger move">
            Wrong Username and Password!
            Try Again.
        </div>
        </form>
      </div>


    </div>
  </div>
</div>
